/* Inspired from https://alistapart.com/article/boom/ */
/* Style sheet for displaying articles at Centre d'Innovation Numérique SAAQ */
/* You may reuse this style sheet for any purpose without any fees */


html { 
  margin: 0;
  /* font: 10pt/1.26 "Gill Sans", sans-serif; */
  font: 10pt/1.26 century-gothic, "Gill Sans", sans-serif;
 
}

body { 
  margin: 0 1% 0 1%;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: century-gothic, "Gill Sans", sans-serif;
  margin: 2em 0 0.5em 0;
  page-break-after: avoid;
} 

h1 { 
  padding: 2em 0 2em 0;
  margin: 0;
  font-size: 1.5em;
}

/* date de rédaction de l'article */
p.date {
  string-set: date content();
  display: none !important;
}

/* titre de l'aticle */
h1.master-title {
  font-weight: 200;
  font-size: 5.5vw;
}

/* bannière des articles (souvent utilisés pour les pays) */
h1.header {
  font-weight: 400;
  
}

h2 { 
  font-size: 1.2em;
}

/* sous-titre de l'article */
h2.master-subtitle {
  font-size: 25.5vw;
}

/* sous-titres des articles */
h2.subtitle {
  font-weight: bold;

}

span.highlight {
  font-weight: bold;
  color: #2caa92;
}

h3 { 
  font-size: 1em;
  font-weight: bold;
}

q::before {
  content: "\201C";
}

q::after {
  content: "\201D";
}

p { margin: 0; text-align: justify; text-justify: inter-word; }
/* p + p { text-indent: 1.3em } */

p + p::before {
  content: "\a";
  white-space: pre;
}

p.sidenote + p, p.caption, p.art { text-indent: 0 }

p.author {
  margin-top: 2em;
  text-indent: 0;
  text-align: right;
}

pre {  margin: 1em 1.3em; }

a { text-decoration: none; color: black }

/* cross-references */

a.pageref::after { content: " on page " target-counter(attr(href), page); }
a.figref { content: " Figure " target-counter(attr(href), figure); }
a.tableref { content: " Table " target-counter(attr(href), figure); }

/* sidenotes */

.sidenote {
  float: left;
  clear: left;
  margin: 0 0 1em -41%;
  width: 37%;
  font-size: 0.9em;
  font-style: normal;
  text-indent: 0;
  text-align: right;
  page-break-inside: avoid;
}

/* sidebars */

div.sidebar {
  float: top-next;
  margin: 1.2em 0 1.2em 0;
  border: thin solid;
  background: #CCC;
  padding: 0.5em 1em;
  page-break-inside: avoid;
  column-count: 2;
  column-gap: 1.5em;
}

div.sidebar h2 {
  margin-top: 0;
}

/* figures and tables*/

div.figure {
  margin: 1em 0;
  counter-increment: figure;
}

div.figure .caption, div.table .caption {
  float: left;
  clear: left;
  width: 37%;
  text-align: right;
  font-size: 0.9em;
  margin: 0 0 1.2em -40%;
}

div.figure .caption::before {
  content: "Figure " counter(figure) ": ";
  font-weight: bold;
}

div.table .caption::before {
  content: "Table " counter(table) ": ";
  font-weight: bold;
}

div.table {
  margin: 1em 0;
  counter-increment: table;
}

div.table th {
  text-align: left;
}

table th, table td {
  text-align: left;
  padding-right: 1em;
}

table.lined td, table.lined th {
  border-top: none;
  border-bottom: thin dotted;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}


@page {
  margin: 27mm 16mm 27mm 16mm;
  size: 7in 9.25in;

  @bottom-right {
    font: 7pt century-gothic, sans-serif, "Gill Sans", serif;
    content: counter(page);
    text-align: right;
    padding-top: 2em;
    padding-bottom: 1em;
    vertical-align: bottom;
  }

  @bottom {
    font: 7pt century-gothic, sans-serif, "Gill Sans", serif;
    content: "Centre d'innovation numérique";
    padding-top: 2em;
    padding-bottom: 1em;
    vertical-align: bottom;
  }

  @bottom-left {
    font: 7pt century-gothic, sans-serif, "Gill Sans", serif;
    color: #2caa92;
    content: string(date, first);
    padding-top: 2em;
    padding-bottom: 1em;
    vertical-align: bottom;
  }

  @footnotes {
    border-top: thin solid black;
    padding-top: 0.3em;
    margin-top: 0.6em;
    margin-left: 30%;
  }
}


/* define default page and names pages: cover, blank, frontmatter */

@page cover { margin: 0; }

/* footnotes */

.footnote {
  display: none;                   /* default rule */

  display: prince-footnote;        /* prince-specific rules */
  position: footnote;
  footnote-style-position: inside;

  counter-increment: footnote;
  margin-left: 1.4em;
  font-size: 90%;
  line-height: 1.4;
}

.footnote::footnote-call {
  vertical-align: super;
  font-size: 80%;
}

.footnote::footnote-marker {
  vertical-align: super;
  color: green;
  padding-right: 0.4em;
}


/* page breaks */

div.frontcover { page-break-before: right }
div.chapter, div.reference, 
div.appendix, div.bibliography, div.glossary, div.index, div.colophon { 
  page-break-before: always 
}
div.backcover { page-break-before: always }


/* index */

ul.index { 
  list-style-type: none;
  margin: 0; padding: 0;
  column-count: 2;
  column-gap: 1em;
}

ul.index a::after { content: ", " target-counter(attr(href), page); }



code, span.css, span.value, span.declaration {
  font: 90% "Lucida Console", "Lucida Sans Typewriter", monospace;
}


@media screen, handheld {
  html { margin: 1em; font: 14px century-gothic, "Gill Sans", sans-serif; }
  h1 { margin-bottom: 0.5em }
  div.frontcover, div.index { display: none }
}
